{% extends 'base.html' %}

{% block title %}Checkout{% endblock title %}


{% block menu %}
<li><a href="/">Home</a></li>
<li><a href="/products">Products</a></li>
<li><a href="/admin">Admin</a></li>
<li><a href="/contact">Contact Us</a></li>
<li><a href="/pages/about">About</a></li>
<li><a href="/cart">Cart <span class="badge badge-info">{{ request.session.total_items }}</span></a></li>
{% endblock menu %}

{% block content %}
    
<form action="" method="POST">
  <script
    src="https://checkout.stripe.com/v2/checkout.js" class="stripe-button"
    data-key="pk_test_m1zvVs54L3LdWAe0xkMefZRw"
    data-amount="2000"
    data-name="eCommerce project"
    data-description="2 widgets ($20.00)"
    data-image="/media/download.jpg">
  </script>
</form>

{% endblock content %}